.selectDate {
    display: flex;
    flex-direction: row;

    .selectDate__input {
        text-align: center;
        padding: 5px;
        margin-left: 10px;
        min-width: 100px;
        width: 50%;
        border-radius: 10px;
        font-size: 20px;
        border: 2px solid #800080;
    }

    .custom-datepicker-toggle {
        color: #800080;
    }
}