.searchResults {
    display: flex;
    flex-direction: column;

    &__grid {
        display: grid;
        grid-template-columns: 7% 25% 25% 8% 25%;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        padding: 10px 0px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    &__item {
        text-align: center;
    }

    &__point {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__date {
        font-size: 24px;
        font-weight: bold;
    }
}