<div class="fromToBox">
  <mat-form-field class="fromToBox__field">
    <input class="fromToBox__input fromToBox__input_from" matInput placeholder="Откуда" [(ngModel)]="from"
      (input)="onFromInput($event)">
  </mat-form-field>
  <mat-form-field class="fromToBox__field">
    <input class="fromToBox__input fromToBox__input_to" matInput placeholder="Куда" [(ngModel)]="to"
      (input)="onToInput($event)">
  </mat-form-field>
</div>

<div *ngIf="fromSuggestions.length > 0 || toSuggestions.length > 0">
  <mat-list class="suggestions">
    <mat-list-item *ngFor="let suggestion of fromSuggestions" (click)="selectSuggestion(suggestion, 'from')">
      {{ suggestion[2] }}
    </mat-list-item>
    <mat-list-item *ngFor="let suggestion of toSuggestions" (click)="selectSuggestion(suggestion, 'to')">
      {{ suggestion[2] }}
    </mat-list-item>
  </mat-list>
</div>