<!-- <div class="fromToBox">
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_from" matInput placeholder="From" [(ngModel)]="from">
  </mat-form-field>
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_to" matInput placeholder="To" [(ngModel)]="to">
  </mat-form-field>
</div> -->

<!-- from-to.component.html -->

<!-- <div class="fromToBox">
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_from" matInput placeholder="From" [(ngModel)]="from" (input)="onFromInput($event)">
    <div class="suggestions" *ngIf="fromSuggestions.length > 0">
      <ul>
        <li *ngFor="let suggestion of fromSuggestions" (click)="selectSuggestion(suggestion, 'from')">{{ suggestion[1] }}</li>
      </ul>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_to" matInput placeholder="To" [(ngModel)]="to" (input)="onToInput($event)">
    <div class="suggestions" *ngIf="toSuggestions.length > 0">
      <ul>
        <li *ngFor="let suggestion of toSuggestions" (click)="selectSuggestion(suggestion, 'to')">{{ suggestion[1] }}</li>
      </ul>
    </div>
  </mat-form-field>
</div> -->


<!-- from-to.component.html -->

<div class="fromToBox">
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_from" matInput placeholder="From" [(ngModel)]="from"
      (input)="onFromInput($event)">
  </mat-form-field>
  <mat-form-field>
    <input class="fromToBox__input fromToBox__input_to" matInput placeholder="To" [(ngModel)]="to"
      (input)="onToInput($event)">
  </mat-form-field>
</div>

<!-- Suggestions dropdown -->
<div class="suggestions" *ngIf="fromSuggestions.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let suggestion of fromSuggestions" (click)="selectSuggestion(suggestion, 'from')">
      {{ suggestion[1] }}
    </mat-list-item>
  </mat-list>
</div>
<div class="suggestions" *ngIf="toSuggestions.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let suggestion of toSuggestions" (click)="selectSuggestion(suggestion, 'to')">
      {{ suggestion[1] }}
    </mat-list-item>
  </mat-list>
</div>