<div class="transportTypeBox">
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('any')">
        <mat-icon>open_with</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('plane')">
        <mat-icon>flight</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('train')">
        <mat-icon>train</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('suburban')">
        <mat-icon>directions_railway</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('bus')">
        <mat-icon>directions_bus</mat-icon>
    </button>
</div>