<div class="transportTypeBox">
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('any')" matTooltip="any">
        <mat-icon>open_with</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('plane')" matTooltip="plane">
        <mat-icon>flight</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('train')" matTooltip="train">
        <mat-icon>train</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('suburban')"
        matTooltip="suburban">
        <mat-icon>directions_railway</mat-icon>
    </button>
    <button class="transportTypeBox__button" mat-icon-button (click)="changeTransportType('bus')" matTooltip="bus">
        <mat-icon>directions_bus</mat-icon>
    </button>
</div>